@import "/src/scss/Vars.scss";

.desktop {
    display: flex;
    flex-direction: column;
    width: 512px;
    height: 344px;
    background-color: $desktop-bg-color;
    border-radius: 8px;
    border: 1px solid $border-color;

    &__main {
        width: 100%;
        flex: 1 1 100%;
        position: relative;
    }
}