@import "/src/scss/Reset.scss";
@import "/src/scss/Vars.scss";

@font-face {
  font-family: 'PixChicago';
  src:  url('./fonts/pixChicago.woff') format('woff');
}

@font-face {
  font-family: 'NeuePixelSans';
  src:  url('./fonts/NeuePixelSans.woff2') format('woff2');
}

body {
  margin: 0;
  color: $text-color;
  font-family: $font-text;
  font-size: 0.5rem;
  font-size: 0.875rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.headline {
  font-family: $font-headline;
  font-size: 0.5rem;
  font-weight: normal;
  letter-spacing: 0.08rem;
  
  &--h3 {
    font-size: 0.4rem;
    letter-spacing: 0.04rem;
  }
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 3028px;
}

.screen-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 541px;
  transform: translate(-50%, -50%);
  margin-top: -177px;
  margin-left: -5px;
  z-index: 99999;
  pointer-events: none;

  @include mobile-screen {
    display: none;
  } 

  &--refl {
    mix-blend-mode: screen;
  }
  
  &--shadow {
    mix-blend-mode: multiply;
  }
  
}

hr {
  width: 100%;
  margin: 0;
  border-top: 1px dashed black;
}