@import "/src/scss/Reset.scss";
@import "/src/scss/Vars.scss";

@font-face {
  font-family: 'PixChicago';
  src:  url('pixChicago.woff2') format('woff2');
}

@font-face {
  font-family: 'NeuePixelSans';
  src:  url('NeuePixelSans.woff2') format('woff2');
}

body {
  margin: 0;
  color: $text-color;
  font-family: $font-text;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.headline {
  font-family: $font-headline;
  font-size: 0.5rem;
  font-weight: normal;
  letter-spacing: 0.08rem;
}