// colors
$desktop-bg-color: #3F7B7C;
$window-bg-color: white;
$text-color: black;
$border-color: black;
$marker-color: black;
$inverted-marker-color: white;

// fonts

$font-headline: 'PixChicago', sans-serif;
$font-text: 'NeuePixelSans', sans-serif;


// screens
$mobile-width: 550px;

@mixin mobile-screen {
    @media (max-width: #{$mobile-width}) {
      @content;
    }
  }